:root {
    --main-color: #19c8fa;
}
/* Resets */
*, 
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: black;
}

/* End Resets */

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* HEADER STYLE */

header .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::after {
    content: "";
    background-color: #a2a2a2;
    height: 2px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
}

header .logo img {
    height: 35px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav li a {
    padding: 40px 10px;
    display: block;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 2;
}

header nav li a:hover,
header nav li a.active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}


header .search-field {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header .search-field i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}